# URL de l'application
NEXT_PUBLIC_APP_URL=http://localhost:3000

# URL de l'API DexPay
NEXT_PUBLIC_DEXPAY_API_URL=https://api.dexpay.africa/api/v1

# Clés API DexPay (remplacer par vos vraies clés)
DEXPAY_API_SECRET=votre_secret_key
DEXPAY_API_KEY=votre_public_key

# Environnement
NODE_ENV=production
